@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-body main-body-index">
    <div class="container-fluid">
        <div class="row">
            <div class="section-banner-home col-md-12">
                <a href="https://badnotgood.com/collections/shop">
                    <img src="//theme.hstatic.net/200000104195/1000677830/14/home-banner-1.jpg?v=342" alt="Banner 1">
                </a>
            </div>
            <div class="section-banner-home col-md-12">
                <a href="https://badnotgood.com/collections/all">
                    <img src="//theme.hstatic.net/200000104195/1000677830/14/home-banner-2.jpg?v=342" alt="Banner 2">
                </a>
            </div>
        </div>
    </div>
</div>