
@{
    ViewBag.Title = "Giới thiệu - BADNOTGOOD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="mainContent-theme ">
    <div class="pageAbout-us page-layout">

        <div class="wrapper-row pd-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">

                            <div class="wrapbox-content-page">
                                <div class="content-page ">
                                    <p><strong>"Hãy cảm nhận rằng&nbsp;khi cậu&nbsp;sử dụng sản phẩm của BADNOTGOOD, chúng tớ sẽ ôm lấy cậu thay lời cảm ơn"&nbsp;</strong></p><p style="text-align:center"><img src="//file.hstatic.net/200000104195/file/img_3339_c3412dbbb2c346fea6f95f0a20dd6a76_grande.jpg"></p><p style="text-align:center">Với&nbsp;tôi, BADNOTGOOD là hoài bão tuổi trẻ của một cậu nhóc mới lớn thời điểm đó. Sinh ra với bản tính háo thắng, thích chơi ngông và luôn muốn tìm kiếm sự khác biệt. Giữa 1 cuộc sống an nhàn và sung túc vào năm 2016, tôi đã chọn từ bỏ tất cả mọi thứ, từ bỏ 1 công việc nhàn hạ lương cao, từ bỏ 1 cuộc sống an toàn hạnh phúc... Chính xác là ngày 12/12/2016 tôi (Hazu) quyết định từ bỏ hết mọi thứ để đến mảnh đất Sài Gòn lập nghiệp... đó là khởi đầu của tất cả còn về bây giờ&nbsp;và tương lai thì còn xaaaaaa! Hãy đợi đấy!</p><p> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>


